body {
	background-color: #BBC3B7;
}

h1 {
	color: #4A5759;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
}

p, li, h3, a {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

p, h3, a {
	padding-left: 20px;
}

li { 
	float: left;
    display: inline-block;
	padding: 30px 40px;
    margin-left: 40px;
 }

 img {
	border: 5px solid #4A5759;
    border-radius: 10%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.header {
	background-color: #96A38F;
	padding: 10px 15px;
}

.footer {
    background-color: #96A38F;
    overflow: hidden;
}

/*.circle {
	border-radius: 50%;
	width: 150px;
    height: 150px;
    background: #4A5759;
 }

#circle-left{
	float: left;
	margin-top: 20px;
	margin-left: 90px;
}

#circle-center{
	float: center;
	margin: 0 auto;
	margin-top: 20px;

}
#circle-right{
   float: right;
   margin-top: 20px;
   margin-right: 90px;
}

span {
    display: block;
    height: 60px;
    width: 60px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
	font-size: 22px;
    text-align: center;
  	line-height: 30px;
    padding: 30px;
}*/


